/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* padding과 border을 합친 크기 */
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

section {
  text-align: center;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* 투명색 어케하노*/
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.title {
  /*font-weight: bold;
  font-size: var(--font-large);
  margin-bottom: 12px;*/
}

.description {
  margin-bottom: 20px;
  width: 80%;
  font-size: 12px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /*font-weight: ;*/
}

nav .index ul {
  display: flex;
  /* align-items: flex-start; */
}

nav .index ul li {
  padding: 8px 12px;
  margin: 0 4px;

  background-color: transparent;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

nav .index ul li.active {
  border: 1px solid var(--color-white);
}

nav .index ul li:hover {
  background-color: var(--color-dark-pink);
}

/* profile */

.profile {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  text-align: center;
  /* text-align 과 위 세문장간의 차이가 없구나 */
  background: url("imgs/edinburg.JPG") center/cover no-repeat;
  /* background image 쉽게 표현하는 법 */
  /*background-image: url("imgs/edinburg.JPG") center/cover no-repeat;
  background-size: cover; 
  background-position: 50% 50%; */
  /* 사진 정상적으로 보이려면 어떻게 하나? */
}

.profile .profile__photo {
  /* 사진 크기 조절하고 싶다. */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  margin-top: 20px;
}

.profile {
  color: white;
}

.profile__contact__btn {
  margin: 24px;
  background-color: transparent;
  color: white;
  padding: 8px 12px;
  border: 2px solid;
  border-radius: 4px; /* outline 의 border radius를 설정하고 싶다*/
}

/* aboutme */

.aboutme {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  padding-top: 30px;
}

.aboutme__stacks {
  display: flex;
  width: 100%;
  justify-content: space-between;

  margin: 80px 0;
  /* 안에 3개 같은 크기로 할당하고 싶다 */
}

.aboutme__stack {
  /*display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;*/
  flex-basis: 100%;
  /* 3등분 해주는 방법*/
}

.aboutme__stack__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  /* 수직 중간정렬하는법. line-height 을 높이만큼 */
  margin: auto;
  /* margin이 한쪽으로 기울었을때 수평중간정렬 */
  color: blue;
  border: 1px solid blue;
  border-radius: 50%;
  margin-bottom: 16px;
}

.aboutme__stack__icon i {
  transition: all 300ms ease;
  /* animation을 주는 법. 250~350이 적절한 속도 */
}

.aboutme__stack__icon:hover i {
  /* 고급기술. icon div에 hover 되었을때, i만 상태 변경 */
  color: pink;
  /* 상태변화 -transform */
  transform: rotate(-30deg) scale(1.1);
}

.aboutme .career {
  display: flex;
  /*flex-direction: row;*/
  /* 이친구 왼쪽으로 어떻게 보내나.
  
  */
}

.aboutme .career img {
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin-top: 6.6px;
}

.aboutme .career .career__info {
  margin-left: 10px;
  text-align: left;
}
