/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  /* padding과 border을 합친 크기 */
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

section {
  text-align: center;
  padding: 50px;

  margin: auto;
}

.section__container {
  /* max width를 위한 div */
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border-style: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  /* 클릭할 때 생기는 자국이 outline이다 */
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.title {
  /*font-weight: bold;
  font-size: var(--font-large);
  margin-bottom: 12px;*/
}

.description {
  margin-bottom: 20px;
  width: 80%;
  font-size: 12px;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  /*font-weight: ;*/
}

nav .index ul {
  display: flex;
  /* align-items: flex-start; */
}

nav .index ul li {
  padding: 8px 12px;
  margin: 0 4px;

  background-color: transparent;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

nav .index ul li.active {
  border: 1px solid var(--color-white);
}

nav .index ul li:hover {
  background-color: var(--color-dark-pink);
}

/* profile */

.profile {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  text-align: center;
  /* text-align 과 위 세문장간의 차이가 없구나 */
  /* 굳이 flexbox로 만들지 않는게 좋겠다. */
  background: url("imgs/edinburg.JPG") center/cover no-repeat;
  /* background image 쉽게 표현하는 법 */
  /*background-image: url("imgs/edinburg.JPG") center/cover no-repeat;
  background-size: cover; 
  background-position: 50% 50%; */

  padding: 40px;
}

.profile .profile__photo {
  /* 사진 크기 조절하고 싶다. */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border-color: white;
  border-style: solid; */
  border: 2px solid var(--color-light-white);
  margin-top: 20px;
}

.profile .title,
.profile .subtitle {
  color: var(--color-white);
}

.profile__contact__btn {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);

  margin: 24px;
  background-color: transparent;
  color: var(--color-white);
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* aboutme */

.aboutme {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  padding-top: 30px;
}
.aboutme > p {
  margin: auto;
}

.aboutme__stacks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 80px 0;
}

.aboutme__stack {
  /*display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;*/
  flex-basis: 100%;
  /* 3등분 해주는 방법*/
}

.aboutme__stack__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  /* 수직 중간정렬하는법. line-height 을 높이만큼 */
  margin: auto;
  /* margin이 한쪽으로 기울었을때 수평중간정렬 */
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}

.aboutme__stack__icon i {
  transition: all var(--animation-duration) ease;
  /* animation을 주는 법. 250~350이 적절한 속도 */
}

.aboutme__stack__icon:hover i {
  /* 고급기술. icon div에 hover 되었을때, i만 상태 변경 */
  color: pink;
  /* 상태변화 -transform */
  transform: rotate(-30deg) scale(1.1);
}

.aboutme__stack__title,
.aboutme__stack__detail {
  color: var(--color-dark-grey);
}

.aboutme__stack__detail {
  font-size: var(--font-small);
}

.aboutme .career {
  display: flex;
  align-items: center;
  /*flex-direction: row;*/
  /* 이친구 왼쪽으로 어떻게 보내나.
  
  */
}

.aboutme .career img {
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin-top: 6.6px;
}

.aboutme .career .career__info {
  margin: 0 16px;
  text-align: left;
}

.career__info__description,
.career__info__period {
  color: var(--color-light-grey);
}

.career__info__description {
  font-size: var(--font-small);
}

.career__info__period {
  font-size: var(--font-micro);
}

/* Skills */

.skills {
  background-color: var(--color-yellow);
}

.skillset {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  color: var(--color-light-white);
}

.skillset__left {
  background-color: var(--color-dark-grey);
  width: 100%;
  padding: 20px 40px;
  flex-basis: 60%;
}

.skillset__left .skill__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.skillset__left .skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
  margin-bottom: 16px;
}

.skill__bar .skill__value {
  /* width: 90%; */
  /* 넓이를 동적으로 받아와야 한다 -> json으로.*/
  /* style을 html에 직접 적는다.
    style="width:90%;" */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  width: 100%;
  height: 100%;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
}

.skillset__title {
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 8px;
}

.skillset__right .tools {
  background-color: var(--color-grey);
  /* height: 100%; */
  padding: 20px;
}

.skillset__right .etc {
  background-color: var(--color-light-grey);
  /* height: 100%; */
  padding: 20px;
}

/* Work */

.work__categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* 아하 수평방향 : justify-content */
  margin-bottom: 30px;
}

.work__categories button {
  border: 1px solid var(--color-light-grey);
  padding: 8px 48px;
  border-radius: var(--size-border-radius);
  margin: 0;
  font-size: var(--font-regular);
}

.work__categories button.active,
.work__categories button:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.category__count {
  color: var(--color-white);
  border: 1px solid transparent;
  border-radius: 50%;
  display: inline-block;
  /* span은 글자를 꽉 잡아주기 때문에, 변형이 힘들다
  inline-block으로 바꾸면 width와 height를 지정할 수 있다. */
  width: 24px;
  height: 24px;
  /* 수직 중간정렬 하는 법 */
  line-height: 24px;

  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__categories button.active .category__count,
.work__categories button:hover .category__count {
  background-color: var(--color-orange);
  opacity: 1;
  /* 이때만 보이도록. 내려오는 애니메이션 */
  top: 0;
}

.work__projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* 한줄에 꽉차면 자동으로 내려가는 기능 */
}

.project {
  position: relative;
  /* 기본값 static이 아닌 것으로 바꿔준다. */
  width: 280px;
  height: 250px;
  background-color: var(--color-dark-white);
  margin: 2px;

  /* 하나밖에 없지만, 중간정렬하기 위한 방법 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 이미지는 크기 조정이 마음대로 안되기 때문에, line-height 같은 방법이 적용되지 않는다 */
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  /* 이미지 크기를 통일. project박스 안에서 놀도록 */
}

/* 미디어쿼리를 이용하여 작아지면 2,3개만 나오도록 하자 */

@media screen and (max-width: 768px) {
}

.project__description {
  position: absolute;
  /* 부모값중 static이 아닌 것을 기준으로 위치한다. */
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;

  /* 수직 중간정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  /* 마우스가 올라가지 않았을때는 0 */
  transform: translateY(10px);
  /* 마우스가 올라가지 않았을때는 밑에 내려가있도록
  -> hover 될때 올라오는 느낌을 준다 */

  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-white);
}
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  /* 왼쪽으로 당겨오기 */
  margin-top: 8px;
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
}

/* testimonial */

.testimonial {
  background-color: var(--color-light-white);
}

.testimonial__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.testimonial__box img {
  /* max-width: 200px;
  max-height: 150px; */
  height: 150px;
  border-radius: 50%;
}

.testimonial__box img:nth-child(odd) {
  margin-right: 40px;
}
/* 홀수일때 짝수일때 구분하기 */
.testimonial__box img:nth-child(even) {
  margin-left: 40px;
}

.comment {
  background-color: var(--color-white);
  padding: 16px;
  border-radius: var(--size-border-radius);
}

.comment p {
  color: var(--color-light-grey);
}

.comment .name a {
  color: var(--color-pink);
}

/* contact */

.contact {
  background-color: var(--color-dark-pink);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__links {
  margin: 16px;
}

.contact__links a {
  font-size: var(--font-large);
  /* 이미지 크기는 font size로 조절하구나 */
  margin: 2px;
}

.contact__links a i {
  transition: all var(--animation-duration) ease-in;
}

.contact__links a i:hover {
  transform: scale(1.2);
}
